{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        {% assign author_src = author.avatar %}
      {% else %}
        {% assign author_src = author.avatar | absolute_url %}
      {% endif %}

      {% if author.home %}
        {% if author.home contains "://" %}
          {% assign author_link = author.home %}
        {% else %}
          {% assign author_link = author.home | absolute_url %}
        {% endif %}
        <a href="{{ author_link }}">
          <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.home %}
      <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio }}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}
	  
	  {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
          </a>
        </li>
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
          </a>
        </li>
      {% endif %}

      {% if author.googlescholar %}
        <li>
          <a href="{{ author.googlescholar}}" itemprop="sameAs">
            <i class="ai ai-google-scholar ai-1x"></i> Google Scholar
          </a>
        </li>
      {% endif %}
	  
	        {% if author.researchgate %}
        <li>
          <a href="{{ author.researchgate }}" itemprop="sameAs">
            <i class="ai ai-google-scholar ai-1x" aria-hidden="true"></i> ResearchGate
          </a>
        </li>
      {% endif %}

      {% if author.orcid %}
        <li>
          <a href="{{ author.orcid }}" itemprop="sameAs">
            <i class="ai ai-orcid ai-1x" aria-hidden="true"></i> Orcid
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
